.playerOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.playerOptions button, .solo {
    height: 100%;
    width: 100%;
}